<%- include('template/cabecera.ejs') %>
<section class="about" id="about">
    <div class="gridAbout">
        <div class="aboutImage"></div>
        <div class="aboutContent">
            <h2>Sobre mi</h2>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat pariatur labore iusto nam similique laboriosam, voluptas ad quia atque rem nemo quo fuga officia dignissimos itaque neque sunt enim? Nam.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat pariatur labore iusto nam similique laboriosam, voluptas ad quia atque rem nemo quo fuga officia dignissimos itaque neque sunt enim? Nam.</p>
        </div>
    </div>
</section>
<%- include('template/footer.ejs') %>