<%- include('template/cabecera.ejs') %>

    <main>
        <div class="paymentSuccess">
            <img height="200" width="200" src="./images/img8.png" alt="carita feliz">
            <p>Gracias por el pago!</p>
            <p>Procesaremos su servicio en la brevedad posible.</p>
        </div>
    </main>

<%- include('template/footer.ejs') %>