<%- include('template/cabecera.ejs') %>

    <main>
        <div class="success">
            <img loading="lazy" height="200" width="200" src="./images/img8.png" alt="carita feliz">
            <p>Gracias por llenar el formulario!</p>
            <p>Nos comunicaremos con usted en la brevedad posible.</p>
        </div>
    </main>

<%- include('template/footer.ejs') %>