*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
    background: #e8fffc;
    color: #111621;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*Navegacion*/

header{
    position: sticky;
    top: 0;
    z-index: 2;
}

nav{
    background: #002132;
    box-shadow: 0px 0px 15px 0px #111621;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    height: 60px;
    display: flex;
    align-items: center;
}

nav .button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0 2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f3f3f3;
    transition: all 0.3s;
}

nav .button:hover{
    background: #11162177;
}

nav a:focus-visible{
    outline: none;
    background: #11162120;
}

nav li:first-child{
    margin-right: auto;
}

.logo{
    height: 50%;
    padding: 0 2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f3f3f3;
    font-size: 1.3rem;
    font-weight: bold;
}

#openButton{
    display: none;
    position: sticky;
    top: 0;
    background: #002132;
    border: none;
    margin-left: auto;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
}

#closenavBar{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}

/*home Page*/

.home{
    width: 100%;
    height: 100dvh;
    margin: auto;
    background: url(../images/img5.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home h1{
    font-size: clamp(2rem, calc(7vw + 1rem), 3.3rem);
    border-bottom: #111621 solid 5px;
    padding: 0.2em;
    margin-left: 2rem;
}

.home p{
    font-size: clamp(1rem, calc(3vw + 1rem), 2rem);
    padding: 0.2em;
    margin-left: 2rem;
}

.home a{
    cursor: pointer;
    text-decoration: none;
    background: #111621;
    color: #e8fffc;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    margin-left: 2rem;
}

.home a:hover{
    background: transparent;
    border: #111621 solid 2px;
    color: #111621;
}

/*Ventajas y Beneficios*/

.advantagesAndBenefits{
    width: 100%;
    min-height: 100dvh;
    background: #e8fffc;
    color: #111621;
}

.gridAAB{
    display: grid;
    min-height: 100dvh;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.containerAAB {
    min-height: 100dvh;
    padding: max(2rem, 10%);
    background-color: #e8fffc;
}

.AABimage{
    width: 100%;
    height: 100dvh;
    background: url(../images/img3.jpg) no-repeat center center/cover;
}

.containerAAB h2 {
    text-align: center;
    padding: 0.7rem;
    color: #002132;
    margin-bottom: 30px;
}

.containerAAB ol {
    font-size: 1.5rem;
    height: 100%;
    list-style: none;
    padding: 0;
    color: #002132;
}

.containerAAB li {
    margin: 10px 0;
    padding: 10px;
}


/*Sobre*/

.about{
    margin: auto;
    width: 100%;
    min-height: 100dvh;
}

.gridAbout{
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
}

.aboutImage{
    width: 100%;
    height: 100%;
    background: url(../images/img1.jpg) no-repeat center center/cover;
}

.aboutContent{
    padding: max(2rem, 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #002132;
}

.about p{
    font-size: 1.3rem;
    color: #f3f3f3;
}

.about h2{
    font-size: clamp(2rem, calc(7vw + 1rem), 3rem);
    color: #f3f3f3;
    border-bottom: #f3f3f3 solid 3px;
    margin-bottom: 30px;
}

/*Servicios*/

.servicesGrid a{
    text-decoration: none;
}

.services{
    scroll-margin-top: 3rem;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services h2{
    margin: 3rem 0;
    border-bottom: #111621 solid 3px;
}

.servicesGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
    justify-items: center;
    margin-bottom: 30px;
}

.services article {
    background-color: #002132;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    height: 400px;
    text-align: center;
}

.services img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.services h3 {
    margin: 10px 0;
    color: #f3f3f3;
}

.services p {
    padding: 15px;
    font-size: 1rem;
    color: #f3f3f3;
}

/*Testimonals*/

.testimonials{
    margin: auto;
    width: 100%;
    min-height: 100dvh;
}

.gridTestimonials{
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
}

.testimonialsImage{
    width: 100%;
    height: 100%;
    background: url(../images/img2.jpg) no-repeat center center/cover;
}

.testimonialsContent{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #002132;
}

.testimonials p{
    font-size: 1.3rem;
    color: #f3f3f3;
}

.testimonials h2{
    font-size: clamp(2rem, calc(7vw + 1rem), 3rem);
    color: #f3f3f3;
    border-bottom: #f3f3f3 solid 3px;
    margin-bottom: 30px;
}

.testimonialAutor{
    margin: 10px 0;
    border-bottom: #f3f3f3 solid 2px;
    color: #f3f3f3;
    font-weight: bold;
}

/*Contacto*/

.contact{
    scroll-margin-top: 3rem;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2{
    margin: 3.5rem 0;
    border-bottom: #111621 solid 3px;
}

.gridContact{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.contact p{
    font-size: 1rem;
    line-height: 1.6;
}

.contact strong{
    color: #002132;
}

.contact a{
    text-decoration: none;
    color: #002132;
}

.contact a:hover{
    text-decoration: underline;
}

.direction{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 0;
}

.contactForm{
    width: 100%;
}

.contactForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactForm form .campo{
    font-size: 1rem;
    width: 80%;
    padding: 0.75rem 1.10rem;
    border: #002132 solid 1px;
    margin-top: 1.3rem;
    border-radius: 3px;
    outline: none;
}

.contact textarea{
    font-family: inherit;
    resize: none;
    min-height: 8.8rem;
    margin-bottom: 1.3rem;
}

.contact button{
    padding: 1rem;
    margin: 1.3rem 0;
    font-size: 1rem;
    border: none;
    outline: none;
    background: #002132;
    color: #f3f3f3;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact button:hover{
    background: #002132EE
}

.input-error {
    border: 2px solid #FE2D48 !important;
    background: #fff0f3;
}



/*admin views*/

.adminPanel{
    width: 100%;
    min-height: 100dvh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 1lh;
    font-weight: 600;
    background: #e8fffc;
}

.adminTitle{
    margin: 3rem 0;
    border-bottom: #111621 solid 3px;
}

table, th, td {
    border: 2px solid #002132;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}

.adminTable{
    max-width: 80%;
    margin: 2rem 0;
    overflow: hidden;
}

.btn-danger{
    background: #111621;
    color: #f3f3f3;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
}

.btn-danger:hover{
    background: #111621EE;
}

.btn-logout {
    background: #FE2D48;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 18px;
    margin-left: 10px;
    cursor: pointer;
    transition: background 0.2s;
}
.btn-logout:hover {
    background: #FE2D48EE;
}

/*payment*/

.payment{
    background-color: #8ED2FF;
    max-width: 360px;
    margin: 80px auto;
    height: auto;
    padding: 2rem;
    padding-top: 3.5rem;
    border-radius: 5px;
    position: relative;
}

.payment h2{
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 2.5rem;
    color: #111621;
}

.form label{
    display: block;
    color: #111621;
    margin-bottom: 6px;
}

.form input{
    width: 100%;
    padding: 13px 0 13px 25px;
    text-align: center;
    border: 2px solid #6CB0DD;
    border-radius: 5px;
    letter-spacing: 1px;
    word-wrap: 3px;
    outline: none;
    font-size: 1rem;
    color: #111621;
}

.card_grp{
    display: flex;
    justify-content: space-between;
}

.cardItem{
    width: 48%;
}

.space{
    margin-bottom: 1.3rem;
}

.iconRelative{
    position: relative;
}

.iconRelative ion-icon{
    position: absolute;
    font-size: 1.5rem;
    bottom: 13px;
    left: 10px;
    color: #111621;
}

.btn{
    background: #002132;
    color: #f3f3f3;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 1rem;
}

.btn:hover{
    background: #002132EE;
}

.card_grp select, .selectService{
    padding: 0.8rem;
    text-align: center;
    border: 2px solid #6CB0DD;
    border-radius: 5px;
    letter-spacing: 1px;
    word-wrap: 3px;
    outline: none;
    font-size: 1rem;
    color: #111621;
}

/*payment succes*/

.paymentSuccess {
    background: #e8fffc;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 max(2rem, 10%);
}

.paymentSuccess p {
    margin-top: 1lh;
    font-size: 1.5rem;
    font-weight: 600;
    color: #111621;
}

.paymentSuccess img{
    max-width: 100%;
    height: auto;
    aspect-ratio: 9 / 9;
    object-fit: cover;
}

/*Succes contact add*/

.success {
    background: #e8fffc;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 max(2rem, 10%);
}

.success p {
    margin-top: 1lh;
    font-size: 1.5rem;
    font-weight: 600;
    color: #111621;
}

.success img{
    max-width: 100%;
    height: auto;
    aspect-ratio: 9 / 9;
    object-fit: cover;
}

/*footer*/

.footer{
    position: relative;
    width: 100%;
    min-height: 8.8rem;
    background: #002132;
    padding: 1.3rem 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0.3rem;
    flex-wrap: wrap;
}

.footer li{
    list-style: none;
}

.footer a{
    color: #f3f3f3;
    font-size: 2rem;
    display: inline-block;
    margin: 0 0.7rem;
    transition: all 0.3s;
}

.footer a:hover{
    transform: translateY(-0.7rem);
}

.footer p{
    color: #f3f3f3;
    text-align: center;
    margin: 1rem 0;
    font-size: 1.3rem;
}

/*mediaQuerys*/

@media (max-width: 700px) {
    #openButton, #closenavBar{
        display: block;
    }
    header{
        position: fixed;
        top: 0;
        right: 0;
    }
    nav{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        transition: all 0.3s;
        transition: right 0.5s ease-out;
    }
    nav.show{
        right: 0;
    }
    nav ul{
        width: 100%;
        flex-direction: column;
    }
    nav a{
        width: 100%;
        padding-left: 2.5em;
    }
    nav li:first-child{
        display: none;
    }
    .payment{
        min-height: 100vh;
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
    }
}

@media (max-width: 650px){
    .gridAbout{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
    .servicesGrid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
    .gridTestimonials{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
    .gridContact{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
    .gridAAB{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
}

@media (max-width: 550px){
    .home{
        align-items: center;
    }
    .home a, .home p, .home h1{
        margin-left: 0;
    }
}