<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" type="image/ico" href="public\images\icon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Hola Mundo</h1>
    <div class="cajita">
      <h2>Informacion personal</h2>
      <ul>
          <li>Nombre: <%= name %></li>  
          <li>Cedula: <%= ci %></li>
          <li>Seccion: <%= section %></li>
      </ul>
    </div>
  </body>
</html>
