        <footer class="footer">
            <ul class="socialIcon">
                <li><a href="">
                    <ion-icon name="logo-youtube"></ion-icon></a>
                </li>
                <li><a href="">
                    <ion-icon name="logo-instagram"></ion-icon></a>
                </li>
                <li><a href="">
                    <ion-icon name="logo-whatsapp"></ion-icon></a>
                </li>
                <li><a href="">
                    <ion-icon name="logo-facebook"></ion-icon></a>
                </li>
            </ul>
            <p>© 2025 | todos los derechos reservados</p>
        </footer>
    </div>

    <script src="./javascript/main.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>